
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

html,body{
  width: 100%;
  min-height: 100vh;

 
  overflow-x: hidden; /* Ensures no horizontal scroll */
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width:100%;
    margin: auto;
}