
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

html,body{
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/H4.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden; /* Ensures no horizontal scroll */
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width:100%;
    margin: auto;
}