.food-display {
  margin:auto;
  max-width:1200px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:20px;
  margin-top:20px;
  border-radius:100px ;

  
  }
  .category-a,.category-b,.daily-finds{
    background-color:white;
    border-radius:5px ;
  }
 .category{
  background-color:red;
  width:100%;
  height:50px;
  display:flex;
  color:white;
  border-radius:5px 5px 0 0 ;
  align-items: center;
 }
 .category p{
  margin-left:15px;
  font-size: 1.875em; 
  justify-self: center;
  align-items: center;   
 }
  
  .food-display-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
    row-gap:8px
    
  }
  
  .food-display-list > * {
    flex: 1 1 180px;
    max-width: 180px;
    
    

  }


  /* Mobile Devices */
@media (max-width: 407px) {
 
  .food-display-list  * {
    max-width: 80px;
   
  }

  .category p{
    margin-left:5px;
    font-size: 1em; 
     }
    
 
}


  
  