.main-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 8px;
    row-gap:8px;
    overflow:hidden;
    margin-top:50px;
    display:flex;
    justify-content:center;
}

.main-item{
    justify-content:center;
    margin-top: 10px;
    margin:auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    transition: 0.3s;
    animation: fadeIn 1s;
    height: 250px;
    

}

.main-item img{
 width:200px;
 height:200px;
border-radius: 15px 15px 0px 0px;


  

 
 
}

.main-item .info {
    display:flex;
    justify-content:space-between;
    
}

.main-item .info .left{
    margin-left:10%;
    color: #676767;
    font-size: 12px;
    
}

.main-item .info .right{
    margin-right:10%;
    color: tomato;
    font-size:15px;
    font-weight:500;
    margin:10px 0px;
}

.remove-add{
    display:flex
}

.remove img{
    height:30px;
    width:30px;
}
    


.add-white img{
    height:30px;
    width:30px;
}


.add-green img{
    height:30px;
    width:30px;
}
