.header-container{
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.popup-image  {
  height: 400px;
    width:100%;
    width:600px;
}
.left{
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-top:0px;
}
.popup-image-left{
  height: 190px;
    width:100%;
    width:280px;
}


.ads{
  position: relative;
  height: 190px;
  width:100%;
  width:280px;
  background-image: url('../../assets/H4.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
}
.popup-image-right{
  height: 400px;
    width:100%;
    width:280px;
}
@media (max-width: 320px) {
  .header-container{
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2px;
}

.popup-image  {
  height: 400px;
    width:100%;
    width:600px;
}
.left{
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-top:0px;
}
.popup-image-left{
  height: 190px;
    width:100%;
    width:280px;
}


.ads{
  position: relative;
  height: 190px;
  width:100%;
  width:280px;
  background-image: url('../../assets/H4.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
}
.popup-image-right{
  height: 400px;
    width:100%;
    width:280px;
}
  }