.loginpopup-container{
    position: absolute;
    z-index:1000;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;

}

.loginpopup-container-form{
place-self:center;
 width: max(20vw, 300px);
 color: #808080;
 background-color:white;
 display: flex;
 flex-direction: column;
 gap:5px;
 padding: 10px 15px;
 border-radius: 8px;
 font-size: 14px;
 animation: fadeIn 0.5s;
}
.loginpopup-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

button{
    border:none;
    padding: 10px;
    border-radius: 4px;
    color:white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}

input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-span, .signUp-span{
    color: tomato;
    font-size: 20px;
    cursor: pointer;
}

.loginpopup-title img{
    cursor:pointer;
}